body {
  font-family: "Love Ya Like A Sister", cursive;
  margin: 50px auto;
  padding: 20px;
  max-width: 600px;
  color: #e7e7de;
}
.wrapper {
  border: 3px solid #0f3057;
  border-radius: 60px;
  padding: 20px;
  padding-bottom: 10px;
  background-color: #008891;
}
.search {
  display: block;
  margin-top: 0 auto;
  text-align: center;
  border-radius: 50px;
  padding: 20px;
  padding-bottom: 0;
}
input.searchBox {
  border-radius: 30px;
  border: 3px solid #0f3057;
  background-color: #e7e7de;
}
input.searchBox:focus {
  border: 3px solid #0f3057;
  background-color: #eeeeee;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
input.submit {
  border-radius: 30px;
  border: 3px solid #0f3057;
  background-color: #e7e7de;
  transition: all 150ms ease-out;
}
.submit:hover {
  cursor: pointer;
  background: #0f3057;
  color: #e7e7de;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.submit:focus {
  border-radius: 30px;
  border: 3px solid #0f3057;
  box-shadow: none;
  background-color: #e7e7de;
  color: #0f3057;
}

li {
  list-style: none;
  margin: 15px 10px;
  text-align: left;
}
.today {
  margin: 0 10px;
  line-height: 26px;
  font-size: 30px;
  padding: 0;
}

.unit {
  margin-top: -3px;
  margin-left: 7px;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
}
a {
  text-decoration: none;
}

.lastUpdated {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}

.weatherDetails {
  font-weight: 400;
  font-size: 20px;
  margin: 0 10px;
  padding: 0;
  line-height: 20px;
  text-align: left;
}
.description {
  font-weight: 400;
  font-size: 15px;
  margin: 0px 10px;
  padding: 0;
  line-height: 20px;
  text-align: left;
}
hr {
  color: #0f3057;
  height: 10px;
  border: 2px solid #0f3057;
  margin: 20px auto;
}

.maxMin {
  font-size: 13px;
  margin-top: 5px;
}
.min {
  opacity: 0.7;
}

#footer {
  font-size: 11px;
  text-align: center;
  color: #0f3057;
}
